html,
body {
  margin: 0;
  padding: 0;
}
.thirdlink {
  display: flex;
  padding: 0.5rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  gap: 3rem;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 15vw;
  text-align: center;
  color: rgb(248, 248, 248);
  background-color: #1e3a8a;
}

.thirdlink i {
  font-size: 24px;
  cursor: text;
  color: #000;
}

.thirdlink span:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  opacity: 0.8;
  color: #dbeafe;
  transform: scale(1.2);
}

.scm-wrapper {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  background-color: #83b9ef;
  border: 1px solid #e2e8f0;
  padding: 60px 0;
  width: 100%;
}

.scm-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.blue-text {
  color: #2563eb;
}

.scm-hero-content h1 {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: 800;
  line-height: 1.1;
  color: #0f172a;
  margin-bottom: 20px;
}

.scm-hero-content p {
  font-size: 18px;
  color: #64748b;
  max-width: 450px;
}

.scm-program-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scm-card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #eef2f6;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.scm-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(37, 99, 235, 0.1);
}

.card-badge {
  font-size: 12px;
  font-weight: 700;
  color: #2563eb;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.scm-card h3 {
  font-size: 22px;
  color: #1e293b;
  margin-bottom: 10px;
}
.scm-card p {
  font-size: 15px;
  color: #64748b;
}

.scm-why {
  background: #fff;
  border-radius: 40px;
  margin-top: 40px;
}

.scm-image-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
}

.scm-why-text h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.scm-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 30px;
}

.stat-box {
  background: #e8e8e8;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
.stat-box:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(37, 99, 235, 0.1);
}
.stat-box .num {
  font-size: 24px;
  font-weight: 800;
  color: #2563eb;
  display: block;
}
.stat-box .label {
  font-size: 12px;
  color: #94a3b8;
  font-weight: 600;
}

/* ----------THIRD SECTION---------- */
.scm-program-detail {
  padding: 1rem;
}

.scm-program-detail h1 {
  font-size: clamp(24px, 4vw, 64px);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  background: linear-gradient(90deg, #000, #05386c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scm-program-table {
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.scm-program-table table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  min-width: 600px;
}
.scm-program-table table,
th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 12px;
}

.scm-program-table thead {
  background-color: #05386c;
  color: #fff;
  font-size: 18px;
}

.overview-table {
  width: auto;
}

/* -----------APPLICATION DEADLINES-------------- */
.application-deadline {
  background-color: #83b9ef;
  height: max-content;
}

.application-deadline h1 {
  font-size: clamp(32px, 4vw, 64px);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  background: linear-gradient(180deg, #320d0d, #05386c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.application-table h2 {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 1vw;
  color: #002957;
}

.application-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}
.application-table td,
th {
  text-align: left;
}
.application-table thead {
  background-color: #05386c;
  color: #fff;
  font-size: 20px;
}
.round {
  width: 25vw;
}
.round-1st-date {
  width: 25vw;
}
.round-2nd-date {
  width: 25vw;
}
.application-deadline div:nth-child(4) {
  padding-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application-deadline button {
  background-color: #1d87f1;
  padding: 1vw;
  border: 0px solid #000;
  border-radius: 1rem;
  color: white;
  font-size: 18px;
}

.application-deadline button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: #002957;
  box-shadow: 0 4px 8px 0 rgba(0, 41, 87, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  scale: calc(1.02);
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* --------------EXPERIMENTAL LEARNING------------- */
.exp-learning {
  height: max-content;
  position: relative;
  padding: 1vw;
  background: #f5f5f5;
  overflow: hidden;
}
.exp-learning h1 {
  font-size: 5vw;
  font-weight: 700;
  background: linear-gradient(180deg, #002957, #1d87f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.exp-main-content {
  width: 100%;
  padding: 2vw;

  box-sizing: border-box;
}
.exp-content {
  width: 100%;
  opacity: 0;
  transform: translateX(-50%);
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  transition:
    opacity 2s ease,
    transform 0.6s ease;
}
.exp-content.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  transform: translateX(0);
  visibility: visible;
  position: relative;
  pointer-events: auto;
  display: flex;
}

.exp-contents.no-anim {
  transition: none !important;
}
.exp-content.exit {
  opacity: 0;
  transform: translateX(100%);
  transition:
    opacity 1s ease,
    transform 1s ease;
}
.exp-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 2vw;
  flex-wrap: wrap;
}

.exp-img {
  flex: 1;
  min-width: 320px;
}

.exp-img img {
  width: 100%;
  max-width: 760px;
  border-radius: 22px;
  display: block;
  object-fit: cover;
}

.exp-text {
  flex: 1;
  min-width: 320px;
}

.exp-text h2 {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  margin-bottom: 25px;
  line-height: 1.1;
}

.exp-text p {
  font-size: 22px;
  line-height: 1.8;
  color: #222;
  max-width: 700px;
}

.exp-button {
  margin-top: 1vw;
  display: flex;
  justify-content: flex-start;
}

.exp-button button {
  background: #2f80ed;
  border: none;
  border-radius: 18px;
  padding: 18px 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.exp-button button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(47, 128, 237, 0.25);
}

.exp-button button a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 992px) {

  .thirdlink{
    display: none;
  }
  .exp-main-content {
    padding: 30px 25px;
  }

  .exp-contents {
    flex-direction: column;
    gap: 35px;
  }

  .exp-text h2 {
    font-size: 42px;
  }

  .exp-text p {
    font-size: 18px;
  }

  .exp-button {
    justify-content: center;
  }

  .exp-button button a {
    font-size: 18px;
  }

  .scm-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .scm-hero-content p {
    margin: 0 auto 30px;
  }
  .scm-image-box {
    order: -1;
  }
  .scm-stats {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .scm-program-table {
    padding: 1rem;
  }

  .scm-program-table table {
    min-width: 500px;
    font-size: 14px;
  }

  .scm-program-table thead {
    font-size: 14px;
  }

  td,
  th {
    padding: 8px;
  }
}
